body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

#container {
    background-color: #000001;
    opacity: 1;
}

p {
    font-family: "Arial Black, Gadget, sans-serif";
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255)
}

#webhook, #username, #message, #avatar {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #000;
}

#start, #stop {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start:hover, #stop:hover {
    background-color: #45a049;
}

#log {
    font-weight: bold;
    color: #000;
}
